body{
    text-align: center;
    background: linear-gradient( #E1BEE7 0% #60ebeb 100%);
    background-repeat: no-repeat;
}

h1{
    text-shadow: 2px 2px #F6B;
    font-size: 20PX;
}

#bio{
    padding: 20px;
    font-size: 18;
    text-align: center;
}